@import url('https://fonts.googleapis.com/css?family=Knewave');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,600');

$displayFontFamily: 'Knewave', cursive;
$straightFontFamily: 'Nunito', sans-serif;
$straightFontLightWeight: 300;
$straightFontHeavyWeight: 600;

$lightColor: #FFFFFA;
$brightColor: #217389;
$dullColor: #77878B;
$mediumColor: #104F55;
$darkColor: #373E40;
$contrastColor: #CE2D4F;

$borderRadius: 7px;